.container-home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 8rem;

  .btn {
    font-size: 1.5rem;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-description {
  font-size: 1.2rem;
  width: auto;
  margin: 0 5rem 0 5rem;
}
