
<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_img.jpeg') %>);">
  <div class="container">
    <h1>Your unique wine experience born from Passion</h1>
    <p>Bringing the community of Oenophiles and Explorers</p>
    <%= link_to "Discover", services_path, class: "btn btn-primary" %>
  </div>
</div>
