<div class="container">
    <div class="banner-container mt-3">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_img.jpeg') %>);">
        <div class="container">
          <h1>Your unique wine experience from Passionates to Passionates</h1>
          <p>Discover the Pleasure of Experiencing Good Wine Tasting</p>
          <%= link_to "All Services", services_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
