<div class="banner img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner_img.jpeg') %>);">
  <div class="container">
    <h1>Your unique wine experience born from Passion</h1>
    <p>Bringing the community of Oenophiles and Explorers</p>
    <%= link_to "Discover", services_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="text-description text-center">
    <p>Embark on a tailored wine adventure with our premier sommelier events, designed exclusively for you. Delight in an immersive experience where every sip tells a story and every glass holds a new discovery. Our dedicated sommeliers will be your guides, unveiling the secrets of each pour and helping you uncover your palate's preferences. Whether you're a seasoned connoisseur or just beginning your wine journey, our events promise to enchant, educate, and leave you with an unforgettable taste of luxury.</p>
  </div>
</div>
