.card-profile {
  padding: 14px;
  border-radius: 20px;
  transition: background-color 0.5s;
  transition: transform 0.5s;
  border-color: #EEEEEE;
  background-color: #EEEEEE;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    background-color: #f9f5d7;
    transform: scale(1.1);
  }
}


.card-profile .card-body {
  padding: 12px 6px;
  text-align: center;
  margin: auto;
}

.card-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #540B0E;
  font-weight: bolder;
}

.card-body p {
  font-size: 14px;
  font-style: italic;
}

.card-subtitle {

  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;

}

.card-body img {
  height: 150px;
  width: 150px;
  padding: 16px;
  border-radius: 50%;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
  }
}

.card:hover .card-body img {
  filter: grayscale(0%);
}

.card-body .card-tag {
  margin: 0.2em;
  align-items: center;
}

// .card-body btn {
//   display: inline-block;
// }

.btn btn-primary {
  margin-bottom: 6px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
