.container {
  margin-top: 60px;
  }

  @keyframes vibrate {
    // 0% { transform: translate(0, 0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, 2px); }
    // 80% { transform: translate(2px, -2px); }
    // 100% { transform: translate(0, 0); }
  }

.card {
  padding: 16px;
  border-radius: 20px;
  border-color: #FFF8CE;
  margin: 0.2em;
  background-color: #f9f5d7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    background-color: #fff1a1;
    transition: background-color 0.5s;
    // background-image: url("logo.png");
  }
}

.card:hover {
  background-color: #fff1a1;
  animation: vibrate 0.2s ease 0.3s;
}

.card-service {
  min-width: 400px;
}

.card .card-body {
  padding: 12px 6px;
  text-align: center;
  margin: auto;
}

.card-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #540B0E;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 14px;
  color: gray;
}

.card-body p {
  font-size: 14px;
  font-style: italic;
}

.card-body h6 {
  height: 3em;
  // overflow: scroll;
}

.card-body img {
  height: 150px;
  width: 150px;
  padding: 16px;
  border-radius: 50%;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
  }
}

.card:hover .card-body img {
  filter: grayscale(0%);
}

.card-body .card-tag {
  margin: 0.2em;
  align-items: center;
}

// .card-body btn {
//   display: inline-block;
// }

.btn btn-primary {
  margin-bottom: 6px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
