.container {
  padding: 16px;
}

.container-all-services {
  background: #D9D9D9;
  border-style: solid;
  border-color: $gray;
}

.container-services {
  padding: 16px;
  justify-content: space-evenly;
  display: flex;
  margin: 0.2em;
  flex-wrap: wrap;
}

.container-logo {
  display: block;
}

@media screen and (max-width: 500px) {
  .container-services {
    flex-direction: column; /* Change to column layout on small screens */
    align-items: center; /* Center items in the column */
  }
}
