.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 0px;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dionysus {
  justify-content: center;
  background:linear-gradient(to right, white, #D9D9D9);
}

.navbar-dionysus .navbar-collapse {
  flex-grow: 0;
}

.navbar-dionysus .navbar-brand img {
  width: 50px;
}

a.navbar-brand {
  margin: 0px;
  align-content: center;
}
