.card-booking {
  border-radius: 20px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.booking-confirm {
  justify-content: center;
  align-items: center;
}
