.card-booking {
  border-radius: 20px;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .user-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
}

.booking-confirm {
  justify-content: center;
  align-items: center;
}
